#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(180deg, rgba(99, 220, 210, 1) 0%, rgba(98, 132, 220, 1) 100%);
}

h1 {
  font-size: 35px;
  color:blue
}

